// Base Sass styles
///////////////////
// Declare once, site-wide styles

// Contents
// ========
// Variables
//   Colours
//   Fonts
// Mixins
//   Rems
// Reset
// Typography
// Hacks 

////////////////////////////////////////////////////////////////////////////////

//'VARIABLES
/////////////
/////////////

//'Colour variables
///////////////////


//'Font variables
/////////////////

//'Media query variables
////////////////////////
// @small:  320px;
// @medium: 768px;
// @large:  1024px;

////////////////////////////////////////////////////////////////////////////////

//'MIXINS
//////////
//////////

// 'Rems with pixel fallback  @malarkey http://ow.ly/dtuh7 
////////////////////////////

// Drop shadow
///////////////


// Border radius
////////////////

////////////////////////////////////////////////////////////////////////////////

//'RESET
/////////
/////////

// Pick and choose from normalize.css http://necolas.github.com/normalize.css

// Responsive images
img {
  width: 100%;
}

///////////////////////////////////////////////////////////////////////////////

//'TYPOGRAPHY
//////////////
//////////////


// Headings


////////////////////////////////////////////////////////////////////////////////

// HACKS
///////////////
///////////////

// Micro clearfix hack 
// http://nicolasgallagher.com/micro-clearfix-hack/
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf { // For IE 6/7
    *zoom: 1;
}
