// State Sass:  styles
////////////////////
// Links, JS states

//  Contents
//  ========
//  Links

////////////////////////////////////////////////////////////////////////////////

//'LINKS
/////////
/////////

a:link {
  color: $link;
  text-decoration: none;
}

a:visited {
  color: $visited;
}

a:hover {
  color: $link;
  text-decoration: underline;
}

////////////////////////////////////////////////////////////////////////////////

